@model Employee



<h1>Login</h1>


<form method="post" action="/login/EmployeeLogin">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" asp-for="Email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="Password" asp-for="PasswordHash" /></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Login" /></td>

        </tr>
    </table>
    <a href="@Url.Action("ForgotPassword", "Login")" class="btn btn-primary">Forgot Password? </a>

</form>